@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*--------------------------------------- Genreal ------------------------------------------*/
*{
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.contenedor-fila-centrada{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto; 
    align-items: center;
}

h2{
    font-weight: 700;
}
h3{
    font-weight: 500;
}

input{
    border: none;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.2rem;
}
button{
    border: none;    
    height: 2rem;
    color: white;
    border-radius: 20px;
}

/*--------------------------------------- Header ------------------------------------------*/
header{
    color: white;
}

/*------------------- Top -------------------*/
header .top{
    background-color: black;
    padding: 0.5rem;
}
header .top .contenedor-fila-centrada
{
    height: 100%;
    width: 90%;
}
header .top .idioma-moneda{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
} 

/*------------------- Down -------------------*/
header .down{
    background-color: #F0A83E;
    /*height: 4rem;*/
    padding: 1rem;
}
header .down .contenedor-fila-centrada
{
    height: 100%;
    width: 95%;
}

/*----- Logo -----*/
.logo{
    display: flex;
    align-items: center;
    width: 50% ;
}
.logo img{
    width: 5%;
}
h1{
    font-weight: 700;
}
h1 span{
    font-weight: 700;
    color: black;
}

/*----- Menu -----*/
nav ul{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    list-style-type: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

/*--------------------------------------- Main ------------------------------------------*/

/*-------------------- Seccion 1 Banner -------------------*/
/*General*/
.banner{
    background-image: url("../img/banner-fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.texto-banner{
    margin: auto 2%;
    text-align: center;
}

/*--- Cuadro 1 ---*/
.texto-banner .cuadro1 {
    background-color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 3rem;
}
.texto-banner .cuadro1 p{
    position: relative;
    top: 10%;
}

/*--- Cuadro 2 ---*/
.texto-banner .cuadro2 {
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.5rem;
}
.texto-banner .cuadro2 p{
    position: relative;
    top: 25%;
}

/*--- Cuadro 3 ---*/
.texto-banner .cuadro3 {
    background-color: #F0A83E;
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}
.texto-banner .cuadro3 p{
    position: relative;
    top: 18%;
}

/*-------------------- Seccion 2 Cards ----------------*/
/*--- General ---*/
.productos-destacados{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

/*--- Texto Destacados ---*/
.contenedor-texto-destacados{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    max-width: 100%;
}
.logo-huella{
    width: 30%;
    margin: 0 auto;
}
.contenedor-texto-destacados h2{
    font-size: 4rem;
}

/*Menu Destacados*/
.menu-destacados{
    display: flex;
    justify-content:center;
    gap: 3rem;

    padding: 2rem;
}
.menu-destacados li{
    list-style: none;
    font-size: 1.2rem;
}
.menu-destacados a{
    text-decoration: none;
    color: #666666;
}


/*--- Cards Destacados ---*/
.contenedor-cards-destacados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10rem;
}
.card{
    background-color: #FBFAF6;
    text-align: center;
    border: 0.1rem solid #91a32c;    
    border-radius: 10px; 
}
.card img{
    border-radius: 10px 10px 0 0;
}
.texto-card{    
    font-size: 1.2rem;
    position: relative;
    bottom: 5%;
    line-height: 2rem;
}
.precio{
    font-weight: 500;
    color: #F0A83E;
}

/*------------------------ Sección Contacto -------------------*/
.contacto{
    width: 90%;
    max-width: 580px;
    margin: 0 auto 5rem auto;
    text-align: center;
    padding: 3rem;
}
.contacto h2{
    font-size: 2rem;
    padding: 2rem;
}
.contacto form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}
.contacto input{
    background-color: #3C2313;
}
.boton{    
    cursor: pointer;
}
.contacto button{
    font-size: 1.5rem;
    width: 30%;
    height: 3rem;
    
}
.contacto button.resetear{
    background-color:#8A8787;
}
.boton.enviar{
    padding: 0;
    background-color:#F0A83E;
    width: 30%;    
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 20px;
}
.contacto form .botones-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*--------------------------------------- Footer ------------------------------------------*/


/*------------- sucripcion ---------------*/
.suscripcion{
    background-color: #F0A83E;
}

.suscripcion .contenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    padding: 0.5rem;
}

.sucripcion-adv{
    color: white;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.sucripcion-adv .mail-ico {
    font-size: 3rem;
}

.suscripcion .contenedor form{
    display: flex;
    justify-content: center;
    gap: 5%;    
    width: 35%;
    min-width: 350px;
}
.suscripcion .contenedor form input.mail-text{
    width: 60%;
}

.suscripcion .contenedor form input.boton{
    font-size: 1rem;
    background-color: #3C2313;
    color: white;
}

/*-------------------------  Info-Contacto -------------------*/

.info-contacto{
    background-color: #3C2313;
}

.info-contacto .contendeor-contacto{
  margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    width: 90%;
}

/*----------- Seccion izquierda ------------*/

/*iconos info*/
.info-ico{
    color:white;
    font-size: 3rem;
}
.fondo-ico{    
    background-color: #8A8787;
    border: solid #786960 0.5rem;
    border-radius: 50%;
    padding: 1rem;
    width: 7rem ;
    
    text-align: center;
}

/* text info*/
.info-contenedor2{
    display: flex;
    margin: 1rem auto;
    align-items: center;
    gap: 1rem;
}
.info{
    font-weight: 700;
}
h4{
    color: white;
    font-size: 2rem;
}
.info p{
    color:#8A8787
}

/*----------- Seccion Derecha ------------*/

/*Logo footer*/
.logo2{
    display: flex;    
    flex-wrap: nowrap;  
    justify-content: center;
    gap: 1rem; 
    width: 500px; 
}
.logo2 p{
    font-weight: 700;
    font-size: 2rem;
}
.logo2 img{
    height: 2rem;
}

/* Der. Reservados*/
.derechos-reservados{
    background-color: #222222;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    html{
        font-size: 14px;
    }        
    .menu-destacados{
        gap:1rem;
    }
    .texto-banner{
        max-width: 80%;
        margin: auto;
    }
    .logo{        
        margin: auto;
        width: auto;
    }

    nav li{
        text-align: center;
    }
    .logo img{
        margin: 10px;
        min-width: 40px;
        align-items: center;
    }
}