@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*----------------------------- General -----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
}
ul {
    list-style-type: none; 
    size:1rem; 
}

/*----------------------------- Header -----------------------------*/
header{
    background-color: #222222;
    height: 12vh;
}

.containerHeader {    
    display: flex;     
    justify-content: space-between;
    align-items:  center;
    margin: 0 5%;
    height: 100%;
}

/*---------- Logo pizza&font -------*/

/* Contenedor del logo*/
.contenedor-logo{
    display: flex;
    align-items: center;   
    position: relative;
    right: 2rem; 
    max-height: 100%;
}

/*Titulo del logo*/

span.pizza{
    color: green;
}
span.separador{
 color: white;
}
span.front{
    color: red;
}

/*Imagen del Logo*/
.logo{
    position: relative;
    right: 1rem;
}

/*------------ Menu ----------------*/
nav{
    min-width: 10%;
    max-width: 40%;
}
nav ul{
    display: flex;
    color: white;
    justify-content: space-around;
    gap:  3rem;
}

ul.menu li{ 
    font-weight: 400;    
    font-size: 1.5rem;
}

/*------------------------------ Main -----------------------------*/

main{
    height: 70vh;
}

.contenedor-main{
    display: flex;
    background-color: #E3E3E3;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    height: 100%;    
}

/*  ------------------ Items -------------------  */
.item{
    width: 45%;
    height: 90%;    
    border-radius: 3%;
}
h2{
    color: red;   
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}

/*----- Primer Item Delivery -----*/
.item.delivery{
    background-image: url("../img/delivery.jpg");
    background-position: center;
    background-size: cover;

}

.delivery h2{
  position: relative;
  left: 2.5rem;
  top: 1rem;
}

.delivery h2 span{
    color: white;
}


/*---- Segundo Item Podio de Pizzas ----*/
.item.podio-pizzas{
    background-color: white;
    display:  flex;
    flex-direction: column;
    align-items: center;
}

.item.podio-pizzas h2{
    margin: 2rem auto;
}

.contenedor-top5-pizza{
   display: flex;
   justify-content: space-between;
   gap:3rem;
   margin: auto 0;
   font-size: 1.5rem;
   line-height: 3rem;
   width: 70%;
   padding-bottom: 2rem;
}

.contenedor-top5-pizza h3{
    position: relative;
    bottom: 2rem;
}
.contenedor-top5-pizza .img-pizza-falling{
    flex-grow: 0.5;
}
.contenedor-top5-pizza img{
    position: relative;
    top:3rem;
    width: 80%;
}


/*----------------------------- Footer -----------------------------*/

footer{
    height: 18vh;    
    background-color: #222222;
    color:#F3F3F3;
}

.contenedor-footer{
    display: flex;    
    justify-content: space-between; 
    align-items: center;

    height: 100%;
    width: 95%;
    margin: 0 auto;
}

.contenedor-footer .menu{
    line-height: 2.5rem;
}

.pizzaTitulo{
    display: inline-flex;
    margin-right: 50px;
}

