/*---------------------------- Fuentes ----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*---------------------------- General ----------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

/*---------------------------- Header ----------------------------*/

header div.top {
  background-color: #1cd1b0;
  width: 100%;
}
header div.top p {
  padding: 0.5rem;
}

header div.down {
  height: 5rem;
  background-color: #00669f;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  width: 100%;
}
header div.down h1 {
  font-size: 2.5rem;
  padding: 1rem;
}

/*---------------------------- Main ----------------------------*/

.contenedor {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.card{
  position: relative;
  background-color: #f3f3f3;
  right: 0;
  left: 0;
  height: 95%;
  text-align: center;
  line-height: 25px;
  width: 90%;
  margin: 2px;
  border-width: 2%; 
  border-radius: 5%;
}

.card .top { 
  height: 195px;
  background-size: cover;
}

.card.batman .top {
  background-image: url('../img/fondo-batman.png');
  background-size: cover;
  text-align: center;
}

.card.superman .top {
  background-image: url('../img/fondo-superman.png');
  background-size: cover;
  text-align: center;
  border-width: 5px; 
  border-radius: 10px;
}

.card.harley .top {
  background-image: url('../img/fondo-harley.png');
  background-size: cover;
  text-align: center;
}


.card .down {
  margin-top: 25%;
  margin-bottom: 75px;
  margin-left: 5px;
  margin-right: 5px;
}

.card .down h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.card input {
  margin-top: 30px;
  background-color: #00669f;
  color: white;
  height: 48px;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 64%);
}

.card img.icono {
  position: absolute;
  top: 19%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  min-width: 45%;
  max-width: 45%;
}

/*---------------------------- Footer ----------------------------*/

footer {
  background-color: #00669f;
  font-size: 1rem;
  height: 5rem;
}
footer p {
  padding: 1rem;
  color: white;
}

footer p span.frontend {
  text-transform: uppercase;
}

/*-------------------------- Responsive ---------------------------*/
/**/
