header{
    .top{    
        text-align: center;
        background-color: #e5e5e5;
        img{
            margin-top: 21px;
            margin-bottom: 21px;
        }
    }
    .down{
        background-color: #c4c4c4;
        text-align: center;      
        letter-spacing: 0.4em;
    }
}