main{
    .container {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 7%;
        width: 70%;
    }
    h2 {
        background-color: #c4c4c4;
        color: #005677;
        letter-spacing: 0.2em;
    }
    section{
        .contenido { 
            margin-left: 5%;
            margin-top: 10px;
         }
        span { font-weight: bold; }
        span.ital { font-style: italic; }
        ul { 
            line-height: 1.5rem;
            margin: 1rem;             
            margin-inline-start: 50px;
        }
        dl { 
            .elemento-lista-dic { 
                line-height: 1.2rem;
                margin: 1rem;                
            }
            dd{
                margin-inline-start: 40px;
            }
        }
        li{
            line-height: 1.7rem;
        }        
    } 
    margin: 2rem;
}